<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_AE</key>
	<array>
		<string>AE'</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B'</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C'</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D'</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eth</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E'</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
	</array>
	<key>@MMK_L_Euro</key>
	<array>
		<string>Euro'</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F'</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G'</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>G.001</string>
		<string>Gbreve.001</string>
		<string>Gcircumflex.001</string>
		<string>Gcommaaccent.001</string>
		<string>Gdotaccent.001</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H'</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>I'</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
	</array>
	<key>@MMK_L_Iacute</key>
	<array>
		<string>Iacute'</string>
	</array>
	<key>@MMK_L_Idieresis</key>
	<array>
		<string>Idieresis'</string>
	</array>
	<key>@MMK_L_Iogonek</key>
	<array>
		<string>Iogonek'</string>
	</array>
	<key>@MMK_L_Itilde</key>
	<array>
		<string>Itilde'</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>IJ'</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>J.001</string>
		<string>Jcircumflex.001</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K'</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L'</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
	</array>
	<key>@MMK_L_Ldot</key>
	<array>
		<string>Ldot'</string>
	</array>
	<key>@MMK_L_Lslash</key>
	<array>
		<string>Lslash'</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M'</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N'</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O'</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P'</string>
	</array>
	<key>@MMK_L_Q</key>
	<array>
		<string>Q'</string>
	</array>
	<key>@MMK_L_Q_u</key>
	<array>
		<string>Q_u'</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R'</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S'</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T'</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_L_T.001</key>
	<array>
		<string>T.001'</string>
		<string>Tcaron.001</string>
		<string>Tcedilla.001</string>
		<string>Tcommaaccent.001</string>
	</array>
	<key>@MMK_L_Tbar</key>
	<array>
		<string>Tbar'</string>
	</array>
	<key>@MMK_L_Tbar.001</key>
	<array>
		<string>Tbar.001'</string>
	</array>
	<key>@MMK_L_Thorn</key>
	<array>
		<string>Thorn'</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U'</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V'</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W'</string>
		<string>Wcircumflex</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X'</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Y.001</key>
	<array>
		<string>Y.001'</string>
		<string>Yacute.001</string>
		<string>Ycircumflex.001</string>
		<string>Ydieresis.001</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z'</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a'</string>
		<string>acircumflex</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>m</string>
		<string>n</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>ugrave</string>
		<string>umacron</string>
		<string>uring</string>
	</array>
	<key>@MMK_L_aacute</key>
	<array>
		<string>aacute'</string>
	</array>
	<key>@MMK_L_abreve</key>
	<array>
		<string>abreve'</string>
	</array>
	<key>@MMK_L_adieresis</key>
	<array>
		<string>adieresis'</string>
	</array>
	<key>@MMK_L_ae</key>
	<array>
		<string>ae'</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_ampersand</key>
	<array>
		<string>ampersand'</string>
	</array>
	<key>@MMK_L_asciicircum</key>
	<array>
		<string>guillemotleft.uppercase'</string>
		<string>guilsinglleft.uppercase</string>
		<string>asciicircum</string>
	</array>
	<key>@MMK_L_asterisk</key>
	<array>
		<string>asterisk'</string>
	</array>
	<key>@MMK_L_at</key>
	<array>
		<string>at'</string>
		<string>copyright</string>
	</array>
	<key>@MMK_L_atilde</key>
	<array>
		<string>atilde'</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b'</string>
		<string>f_b</string>
	</array>
	<key>@MMK_L_backslash</key>
	<array>
		<string>backslash'</string>
	</array>
	<key>@MMK_L_bar</key>
	<array>
		<string>zero.lining'</string>
		<string>one.lining</string>
		<string>two.lining</string>
		<string>three.lining</string>
		<string>four.lining</string>
		<string>five.lining</string>
		<string>six.lining</string>
		<string>seven.lining</string>
		<string>eight.lining</string>
		<string>nine.lining</string>
		<string>zero.lining.sup</string>
		<string>one.lining.sup</string>
		<string>two.lining.sup</string>
		<string>three.lining.sup</string>
		<string>four.lining.sup</string>
		<string>five.lining.sup</string>
		<string>six.lining.sup</string>
		<string>seven.lining.sup</string>
		<string>eight.lining.sup</string>
		<string>nine.lining.sup</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onesuperior</string>
		<string>comma.sup</string>
		<string>period.sup</string>
		<string>bracketleft.sup</string>
		<string>bracketright.sup</string>
		<string>parenleft.sup</string>
		<string>parenright.sup</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>dollar.lining</string>
		<string>dollar.lining.sup</string>
	</array>
	<key>@MMK_L_braceleft</key>
	<array>
		<string>braceleft'</string>
	</array>
	<key>@MMK_L_bracketleft</key>
	<array>
		<string>bracketleft'</string>
	</array>
	<key>@MMK_L_bracketleft.uppercase</key>
	<array>
		<string>braceleft.uppercase'</string>
		<string>bracketleft.uppercase</string>
	</array>
	<key>@MMK_L_bracketright</key>
	<array>
		<string>braceright'</string>
		<string>bracketright</string>
	</array>
	<key>@MMK_L_bracketright.uppercase</key>
	<array>
		<string>braceright.uppercase'</string>
		<string>bracketright.uppercase</string>
	</array>
	<key>@MMK_L_bullet.001</key>
	<array>
		<string>bullet.001'</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c'</string>
		<string>ccedilla</string>
		<string>cent</string>
	</array>
	<key>@MMK_L_c_t</key>
	<array>
		<string>c_t'</string>
	</array>
	<key>@MMK_L_cacute</key>
	<array>
		<string>cacute'</string>
	</array>
	<key>@MMK_L_ccaron</key>
	<array>
		<string>ccaron'</string>
	</array>
	<key>@MMK_L_ccircumflex</key>
	<array>
		<string>ccircumflex'</string>
	</array>
	<key>@MMK_L_cdotaccent</key>
	<array>
		<string>cdotaccent'</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon'</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma'</string>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>d'</string>
		<string>dcaron</string>
	</array>
	<key>@MMK_L_dcroat</key>
	<array>
		<string>dcroat'</string>
	</array>
	<key>@MMK_L_degree</key>
	<array>
		<string>degree'</string>
	</array>
	<key>@MMK_L_dollar</key>
	<array>
		<string>dollar'</string>
	</array>
	<key>@MMK_L_dollar.lining.sub</key>
	<array>
		<string>zero.lining.sub'</string>
		<string>one.lining.sub</string>
		<string>two.lining.sub</string>
		<string>three.lining.sub</string>
		<string>four.lining.sub</string>
		<string>five.lining.sub</string>
		<string>six.lining.sub</string>
		<string>seven.lining.sub</string>
		<string>eight.lining.sub</string>
		<string>nine.lining.sub</string>
		<string>comma.sub</string>
		<string>period.sub</string>
		<string>bracketleft.sub</string>
		<string>bracketright.sub</string>
		<string>parenleft.sub</string>
		<string>parenright.sub</string>
		<string>dollar.lining.sub</string>
	</array>
	<key>@MMK_L_dotlessj</key>
	<array>
		<string>dotlessj'</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e'</string>
	</array>
	<key>@MMK_L_eacute</key>
	<array>
		<string>eacute'</string>
	</array>
	<key>@MMK_L_ebreve</key>
	<array>
		<string>ebreve'</string>
	</array>
	<key>@MMK_L_ecaron</key>
	<array>
		<string>ecaron'</string>
	</array>
	<key>@MMK_L_ecircumflex</key>
	<array>
		<string>ecircumflex'</string>
	</array>
	<key>@MMK_L_edieresis</key>
	<array>
		<string>edieresis'</string>
	</array>
	<key>@MMK_L_edotaccent</key>
	<array>
		<string>edotaccent'</string>
	</array>
	<key>@MMK_L_egrave</key>
	<array>
		<string>egrave'</string>
	</array>
	<key>@MMK_L_eight</key>
	<array>
		<string>eight'</string>
	</array>
	<key>@MMK_L_emacron</key>
	<array>
		<string>emacron'</string>
	</array>
	<key>@MMK_L_eogonek</key>
	<array>
		<string>eogonek'</string>
	</array>
	<key>@MMK_L_eth</key>
	<array>
		<string>eth'</string>
	</array>
	<key>@MMK_L_exclam</key>
	<array>
		<string>exclam'</string>
		<string>exclamdown</string>
		<string>questiondown</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f'</string>
		<string>florin</string>
	</array>
	<key>@MMK_L_f_f</key>
	<array>
		<string>f_f'</string>
	</array>
	<key>@MMK_L_f_f_b</key>
	<array>
		<string>f_f_b'</string>
	</array>
	<key>@MMK_L_f_h</key>
	<array>
		<string>f_h'</string>
	</array>
	<key>@MMK_L_f_k</key>
	<array>
		<string>f_k'</string>
	</array>
	<key>@MMK_L_f_l</key>
	<array>
		<string>f_f_l'</string>
		<string>f_l</string>
	</array>
	<key>@MMK_L_five</key>
	<array>
		<string>five'</string>
	</array>
	<key>@MMK_L_four</key>
	<array>
		<string>four'</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g'</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_L_gbreve</key>
	<array>
		<string>gbreve'</string>
	</array>
	<key>@MMK_L_gcircumflex</key>
	<array>
		<string>gcircumflex'</string>
	</array>
	<key>@MMK_L_germandbls</key>
	<array>
		<string>germandbls'</string>
	</array>
	<key>@MMK_L_grave</key>
	<array>
		<string>onequarter'</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>zero.lining.numer</string>
		<string>zero.lining.denom</string>
		<string>one.lining.numer</string>
		<string>one.lining.denom</string>
		<string>two.lining.numer</string>
		<string>two.lining.denom</string>
		<string>three.lining.numer</string>
		<string>three.lining.denom</string>
		<string>four.lining.numer</string>
		<string>four.lining.denom</string>
		<string>five.lining.numer</string>
		<string>five.lining.denom</string>
		<string>six.lining.numer</string>
		<string>six.lining.denom</string>
		<string>seven.lining.numer</string>
		<string>seven.lining.denom</string>
		<string>eight.lining.numer</string>
		<string>eight.lining.denom</string>
		<string>nine.lining.numer</string>
		<string>nine.lining.denom</string>
		<string>overline</string>
		<string>comma.denom</string>
		<string>comma.numer</string>
		<string>period.denom</string>
		<string>period.numer</string>
		<string>emquad</string>
		<string>emspace</string>
		<string>enquad</string>
		<string>enspace</string>
		<string>figurespace</string>
		<string>four-per-emspace</string>
		<string>hairspace</string>
		<string>narrownbspace</string>
		<string>nbspace</string>
		<string>punctuationspace</string>
		<string>six-per-emspace</string>
		<string>thinspace</string>
		<string>three-per-emspace</string>
		<string>zerowidthspace</string>
		<string>acutecomb</string>
		<string>gravecomb</string>
		<string>tildecomb</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>brevecomb</string>
		<string>caroncomb</string>
		<string>cedillacomb</string>
		<string>circumflexcomp</string>
		<string>commaaboverightcomb</string>
		<string>commaaccent</string>
		<string>commaturnedabovecomb</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>hungarumlautcomb</string>
		<string>macroncomb</string>
		<string>ringcomb</string>
		<string>commaturnedmod</string>
		<string>glottalstopmod</string>
		<string>verticallinemod</string>
		<string>afii299</string>
		<string>afii300</string>
		<string>afii301</string>
		<string>afii57929</string>
		<string>afii61664</string>
		<string>uni205F</string>
		<string>uni2060</string>
		<string>uniFEFF</string>
	</array>
	<key>@MMK_L_guillemotleft</key>
	<array>
		<string>guillemotleft'</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_L_guillemotright</key>
	<array>
		<string>guillemotright'</string>
	</array>
	<key>@MMK_L_guillemotright.uppercase</key>
	<array>
		<string>guillemotright.uppercase'</string>
		<string>guilsinglright.uppercase</string>
	</array>
	<key>@MMK_L_guilsinglright</key>
	<array>
		<string>guilsinglright'</string>
	</array>
	<key>@MMK_L_h</key>
	<array>
		<string>h'</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>f_f_h</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>zero'</string>
		<string>fraction</string>
		<string>emdash</string>
		<string>endash</string>
		<string>figuredash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>asciitilde</string>
		<string>afii00208</string>
		<string>uni2010</string>
		<string>uni2011</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i'</string>
		<string>iogonek</string>
		<string>i.TRK</string>
	</array>
	<key>@MMK_L_iacute</key>
	<array>
		<string>iacute'</string>
	</array>
	<key>@MMK_L_ibreve</key>
	<array>
		<string>ibreve'</string>
	</array>
	<key>@MMK_L_icircumflex</key>
	<array>
		<string>icircumflex'</string>
	</array>
	<key>@MMK_L_idieresis</key>
	<array>
		<string>idieresis'</string>
	</array>
	<key>@MMK_L_igrave</key>
	<array>
		<string>igrave'</string>
	</array>
	<key>@MMK_L_imacron</key>
	<array>
		<string>imacron'</string>
	</array>
	<key>@MMK_L_itilde</key>
	<array>
		<string>itilde'</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>ij'</string>
		<string>j</string>
	</array>
	<key>@MMK_L_jcircumflex</key>
	<array>
		<string>jcircumflex'</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k'</string>
		<string>kcommaaccent</string>
		<string>f_f_k</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>l'</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
	</array>
	<key>@MMK_L_ldot</key>
	<array>
		<string>ldot'</string>
	</array>
	<key>@MMK_L_longs</key>
	<array>
		<string>longs'</string>
	</array>
	<key>@MMK_L_lslash</key>
	<array>
		<string>lslash'</string>
	</array>
	<key>@MMK_L_nacute</key>
	<array>
		<string>nacute'</string>
	</array>
	<key>@MMK_L_nine</key>
	<array>
		<string>nine'</string>
	</array>
	<key>@MMK_L_ntilde</key>
	<array>
		<string>ntilde'</string>
	</array>
	<key>@MMK_L_numbersign</key>
	<array>
		<string>f_f_i'</string>
		<string>f_i</string>
		<string>numbersign</string>
		<string>currency</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o'</string>
		<string>ograve</string>
		<string>oslash</string>
	</array>
	<key>@MMK_L_oacute</key>
	<array>
		<string>oacute'</string>
	</array>
	<key>@MMK_L_obreve</key>
	<array>
		<string>obreve'</string>
	</array>
	<key>@MMK_L_ocircumflex</key>
	<array>
		<string>ocircumflex'</string>
	</array>
	<key>@MMK_L_odieresis</key>
	<array>
		<string>odieresis'</string>
	</array>
	<key>@MMK_L_ohungarumlaut</key>
	<array>
		<string>ohungarumlaut'</string>
	</array>
	<key>@MMK_L_omacron</key>
	<array>
		<string>omacron'</string>
	</array>
	<key>@MMK_L_one</key>
	<array>
		<string>one'</string>
	</array>
	<key>@MMK_L_ordfeminine</key>
	<array>
		<string>ordfeminine'</string>
	</array>
	<key>@MMK_L_ordmasculine</key>
	<array>
		<string>ordmasculine'</string>
	</array>
	<key>@MMK_L_otilde</key>
	<array>
		<string>otilde'</string>
	</array>
	<key>@MMK_L_p</key>
	<array>
		<string>p'</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_paragraph</key>
	<array>
		<string>paragraph'</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>parenleft'</string>
	</array>
	<key>@MMK_L_parenleft.uppercase</key>
	<array>
		<string>parenleft.uppercase'</string>
	</array>
	<key>@MMK_L_parenright</key>
	<array>
		<string>parenright'</string>
	</array>
	<key>@MMK_L_parenright.uppercase</key>
	<array>
		<string>parenright.uppercase'</string>
	</array>
	<key>@MMK_L_percent</key>
	<array>
		<string>percent'</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>ellipsis'</string>
		<string>period</string>
	</array>
	<key>@MMK_L_periodcentered</key>
	<array>
		<string>bullet'</string>
		<string>periodcentered</string>
		<string>emdash.uppercase</string>
		<string>endash.uppercase</string>
		<string>figuredash.uppercase</string>
		<string>hyphen.uppercase</string>
		<string>softhyphen.uppercase</string>
		<string>afii00208.uppercase</string>
		<string>uni2010.uppercase</string>
		<string>uni2011.uppercase</string>
	</array>
	<key>@MMK_L_plus</key>
	<array>
		<string>dotlessi'</string>
		<string>three</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>micro</string>
	</array>
	<key>@MMK_L_q</key>
	<array>
		<string>q'</string>
	</array>
	<key>@MMK_L_question</key>
	<array>
		<string>question'</string>
	</array>
	<key>@MMK_L_quotedbl</key>
	<array>
		<string>quotedbl'</string>
		<string>quotesingle</string>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft'</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>uni201F</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r'</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_racute</key>
	<array>
		<string>racute'</string>
	</array>
	<key>@MMK_L_rcaron</key>
	<array>
		<string>rcaron'</string>
	</array>
	<key>@MMK_L_registered</key>
	<array>
		<string>registered'</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s'</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_sacute</key>
	<array>
		<string>sacute'</string>
	</array>
	<key>@MMK_L_scaron</key>
	<array>
		<string>scaron'</string>
	</array>
	<key>@MMK_L_scircumflex</key>
	<array>
		<string>scircumflex'</string>
	</array>
	<key>@MMK_L_section</key>
	<array>
		<string>section'</string>
	</array>
	<key>@MMK_L_seven</key>
	<array>
		<string>seven'</string>
	</array>
	<key>@MMK_L_six</key>
	<array>
		<string>six'</string>
	</array>
	<key>@MMK_L_slash</key>
	<array>
		<string>slash'</string>
	</array>
	<key>@MMK_L_sterling</key>
	<array>
		<string>sterling'</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t'</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_L_two</key>
	<array>
		<string>two'</string>
	</array>
	<key>@MMK_L_udieresis</key>
	<array>
		<string>udieresis'</string>
	</array>
	<key>@MMK_L_uhungarumlaut</key>
	<array>
		<string>uhungarumlaut'</string>
	</array>
	<key>@MMK_L_underscore</key>
	<array>
		<string>underscore'</string>
	</array>
	<key>@MMK_L_uogonek</key>
	<array>
		<string>uogonek'</string>
	</array>
	<key>@MMK_L_utilde</key>
	<array>
		<string>utilde'</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>wcircumflex</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x'</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y'</string>
	</array>
	<key>@MMK_L_yacute</key>
	<array>
		<string>yacute'</string>
	</array>
	<key>@MMK_L_ycircumflex</key>
	<array>
		<string>ycircumflex'</string>
	</array>
	<key>@MMK_L_ydieresis</key>
	<array>
		<string>ydieresis'</string>
	</array>
	<key>@MMK_L_yen</key>
	<array>
		<string>yen'</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z'</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_zacute</key>
	<array>
		<string>zacute'</string>
	</array>
	<key>@MMK_L_zcaron</key>
	<array>
		<string>zcaron'</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_AE</key>
	<array>
		<string>AE'</string>
	</array>
	<key>@MMK_R_B</key>
	<array>
		<string>B'</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C'</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>G.001</string>
		<string>Gbreve.001</string>
		<string>Gcircumflex.001</string>
		<string>Gcommaaccent.001</string>
		<string>Gdotaccent.001</string>
	</array>
	<key>@MMK_R_D</key>
	<array>
		<string>D'</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_R_E</key>
	<array>
		<string>E'</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
	</array>
	<key>@MMK_R_Euro</key>
	<array>
		<string>Euro'</string>
	</array>
	<key>@MMK_R_F</key>
	<array>
		<string>F'</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>H'</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Thorn</string>
	</array>
	<key>@MMK_R_Idieresis</key>
	<array>
		<string>Idieresis'</string>
	</array>
	<key>@MMK_R_Iogonek</key>
	<array>
		<string>Iogonek'</string>
	</array>
	<key>@MMK_R_Itilde</key>
	<array>
		<string>Itilde'</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J'</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_J.001</key>
	<array>
		<string>J.001'</string>
		<string>Jcircumflex.001</string>
	</array>
	<key>@MMK_R_Ldot</key>
	<array>
		<string>Ldot'</string>
	</array>
	<key>@MMK_R_M</key>
	<array>
		<string>M'</string>
	</array>
	<key>@MMK_R_N</key>
	<array>
		<string>N'</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_R_Q</key>
	<array>
		<string>Q'</string>
	</array>
	<key>@MMK_R_Q_u</key>
	<array>
		<string>Q_u'</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S'</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T'</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_R_T.001</key>
	<array>
		<string>T.001'</string>
		<string>Tcaron.001</string>
		<string>Tcedilla.001</string>
		<string>Tcommaaccent.001</string>
	</array>
	<key>@MMK_R_Tbar</key>
	<array>
		<string>Tbar'</string>
	</array>
	<key>@MMK_R_Tbar.001</key>
	<array>
		<string>Tbar.001'</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U'</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V'</string>
		<string>W</string>
		<string>Wcircumflex</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X'</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Y.001</key>
	<array>
		<string>Y.001'</string>
		<string>Yacute.001</string>
		<string>Ycircumflex.001</string>
		<string>Ydieresis.001</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z'</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>q</string>
	</array>
	<key>@MMK_R_ampersand</key>
	<array>
		<string>ampersand'</string>
	</array>
	<key>@MMK_R_asciicircum</key>
	<array>
		<string>guillemotright.uppercase'</string>
		<string>guilsinglright.uppercase</string>
		<string>asciicircum</string>
	</array>
	<key>@MMK_R_asterisk</key>
	<array>
		<string>asterisk'</string>
	</array>
	<key>@MMK_R_at</key>
	<array>
		<string>at'</string>
		<string>copyright</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b'</string>
	</array>
	<key>@MMK_R_backslash</key>
	<array>
		<string>backslash'</string>
	</array>
	<key>@MMK_R_bar</key>
	<array>
		<string>zero.lining'</string>
		<string>one.lining</string>
		<string>two.lining</string>
		<string>three.lining</string>
		<string>four.lining</string>
		<string>five.lining</string>
		<string>six.lining</string>
		<string>seven.lining</string>
		<string>eight.lining</string>
		<string>nine.lining</string>
		<string>zero.lining.sup</string>
		<string>one.lining.sup</string>
		<string>two.lining.sup</string>
		<string>three.lining.sup</string>
		<string>four.lining.sup</string>
		<string>five.lining.sup</string>
		<string>six.lining.sup</string>
		<string>seven.lining.sup</string>
		<string>eight.lining.sup</string>
		<string>nine.lining.sup</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onesuperior</string>
		<string>comma.sup</string>
		<string>period.sup</string>
		<string>bracketleft.sup</string>
		<string>bracketright.sup</string>
		<string>parenleft.sup</string>
		<string>parenright.sup</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>dollar.lining</string>
		<string>dollar.lining.sup</string>
	</array>
	<key>@MMK_R_braceright</key>
	<array>
		<string>braceright'</string>
	</array>
	<key>@MMK_R_braceright.uppercase</key>
	<array>
		<string>braceright.uppercase'</string>
	</array>
	<key>@MMK_R_bracketleft</key>
	<array>
		<string>braceleft'</string>
		<string>bracketleft</string>
	</array>
	<key>@MMK_R_bracketleft.uppercase</key>
	<array>
		<string>braceleft.uppercase'</string>
		<string>bracketleft.uppercase</string>
	</array>
	<key>@MMK_R_bracketright</key>
	<array>
		<string>bracketright'</string>
	</array>
	<key>@MMK_R_bracketright.uppercase</key>
	<array>
		<string>bracketright.uppercase'</string>
	</array>
	<key>@MMK_R_bullet</key>
	<array>
		<string>bullet'</string>
		<string>emdash.uppercase</string>
		<string>endash.uppercase</string>
		<string>figuredash.uppercase</string>
		<string>hyphen.uppercase</string>
		<string>softhyphen.uppercase</string>
		<string>afii00208.uppercase</string>
		<string>uni2010.uppercase</string>
		<string>uni2011.uppercase</string>
	</array>
	<key>@MMK_R_bullet.001</key>
	<array>
		<string>bullet.001'</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c'</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>c_t</string>
		<string>cent</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon'</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma'</string>
	</array>
	<key>@MMK_R_d</key>
	<array>
		<string>d'</string>
		<string>dcaron</string>
		<string>dcroat</string>
	</array>
	<key>@MMK_R_degree</key>
	<array>
		<string>degree'</string>
	</array>
	<key>@MMK_R_dollar</key>
	<array>
		<string>dollar'</string>
	</array>
	<key>@MMK_R_dollar.lining.sub</key>
	<array>
		<string>zero.lining.sub'</string>
		<string>one.lining.sub</string>
		<string>two.lining.sub</string>
		<string>three.lining.sub</string>
		<string>four.lining.sub</string>
		<string>five.lining.sub</string>
		<string>six.lining.sub</string>
		<string>seven.lining.sub</string>
		<string>eight.lining.sub</string>
		<string>nine.lining.sub</string>
		<string>comma.sub</string>
		<string>period.sub</string>
		<string>bracketleft.sub</string>
		<string>bracketright.sub</string>
		<string>parenleft.sub</string>
		<string>parenright.sub</string>
		<string>dollar.lining.sub</string>
	</array>
	<key>@MMK_R_dotlessi</key>
	<array>
		<string>dotlessi'</string>
	</array>
	<key>@MMK_R_dotlessj</key>
	<array>
		<string>dotlessj'</string>
	</array>
	<key>@MMK_R_eight</key>
	<array>
		<string>eight'</string>
	</array>
	<key>@MMK_R_eth</key>
	<array>
		<string>eth'</string>
	</array>
	<key>@MMK_R_exclam</key>
	<array>
		<string>exclam'</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f'</string>
		<string>florin</string>
	</array>
	<key>@MMK_R_f_f</key>
	<array>
		<string>f_f'</string>
	</array>
	<key>@MMK_R_f_f_i</key>
	<array>
		<string>f_f_i'</string>
	</array>
	<key>@MMK_R_f_f_l</key>
	<array>
		<string>f_f_b'</string>
		<string>f_f_h</string>
		<string>f_f_k</string>
		<string>f_f_l</string>
	</array>
	<key>@MMK_R_f_i</key>
	<array>
		<string>f_b'</string>
		<string>f_h</string>
		<string>f_i</string>
		<string>f_k</string>
		<string>f_l</string>
	</array>
	<key>@MMK_R_five</key>
	<array>
		<string>five'</string>
	</array>
	<key>@MMK_R_four</key>
	<array>
		<string>four'</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g'</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_R_gcircumflex</key>
	<array>
		<string>gbreve'</string>
		<string>gcircumflex</string>
	</array>
	<key>@MMK_R_germandbls</key>
	<array>
		<string>germandbls'</string>
	</array>
	<key>@MMK_R_grave</key>
	<array>
		<string>onequarter'</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>zero.lining.numer</string>
		<string>zero.lining.denom</string>
		<string>one.lining.numer</string>
		<string>one.lining.denom</string>
		<string>two.lining.numer</string>
		<string>two.lining.denom</string>
		<string>three.lining.numer</string>
		<string>three.lining.denom</string>
		<string>four.lining.numer</string>
		<string>four.lining.denom</string>
		<string>five.lining.numer</string>
		<string>five.lining.denom</string>
		<string>six.lining.numer</string>
		<string>six.lining.denom</string>
		<string>seven.lining.numer</string>
		<string>seven.lining.denom</string>
		<string>eight.lining.numer</string>
		<string>eight.lining.denom</string>
		<string>nine.lining.numer</string>
		<string>nine.lining.denom</string>
		<string>overline</string>
		<string>comma.denom</string>
		<string>comma.numer</string>
		<string>period.denom</string>
		<string>period.numer</string>
		<string>emquad</string>
		<string>emspace</string>
		<string>enquad</string>
		<string>enspace</string>
		<string>figurespace</string>
		<string>four-per-emspace</string>
		<string>hairspace</string>
		<string>narrownbspace</string>
		<string>nbspace</string>
		<string>punctuationspace</string>
		<string>six-per-emspace</string>
		<string>thinspace</string>
		<string>three-per-emspace</string>
		<string>zerowidthspace</string>
		<string>acutecomb</string>
		<string>gravecomb</string>
		<string>tildecomb</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>brevecomb</string>
		<string>caroncomb</string>
		<string>cedillacomb</string>
		<string>circumflexcomp</string>
		<string>commaaboverightcomb</string>
		<string>commaaccent</string>
		<string>commaturnedabovecomb</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>hungarumlautcomb</string>
		<string>macroncomb</string>
		<string>ringcomb</string>
		<string>commaturnedmod</string>
		<string>glottalstopmod</string>
		<string>verticallinemod</string>
		<string>afii299</string>
		<string>afii300</string>
		<string>afii301</string>
		<string>afii57929</string>
		<string>afii61664</string>
		<string>uni205F</string>
		<string>uni2060</string>
		<string>uniFEFF</string>
	</array>
	<key>@MMK_R_guillemotleft</key>
	<array>
		<string>guillemotleft'</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guillemotleft.uppercase</key>
	<array>
		<string>guillemotleft.uppercase'</string>
		<string>guilsinglleft.uppercase</string>
	</array>
	<key>@MMK_R_guillemotright</key>
	<array>
		<string>guillemotright'</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>h'</string>
		<string>hcircumflex</string>
	</array>
	<key>@MMK_R_hbar</key>
	<array>
		<string>hbar'</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>zero'</string>
		<string>fraction</string>
		<string>emdash</string>
		<string>endash</string>
		<string>figuredash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>asciitilde</string>
		<string>afii00208</string>
		<string>uni2010</string>
		<string>uni2011</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i'</string>
		<string>ij</string>
		<string>i.TRK</string>
	</array>
	<key>@MMK_R_iacute</key>
	<array>
		<string>iacute'</string>
	</array>
	<key>@MMK_R_icircumflex</key>
	<array>
		<string>ibreve'</string>
		<string>icircumflex</string>
	</array>
	<key>@MMK_R_idieresis</key>
	<array>
		<string>idieresis'</string>
	</array>
	<key>@MMK_R_igrave</key>
	<array>
		<string>igrave'</string>
	</array>
	<key>@MMK_R_imacron</key>
	<array>
		<string>imacron'</string>
	</array>
	<key>@MMK_R_iogonek</key>
	<array>
		<string>iogonek'</string>
	</array>
	<key>@MMK_R_itilde</key>
	<array>
		<string>itilde'</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j'</string>
	</array>
	<key>@MMK_R_jcircumflex</key>
	<array>
		<string>jcircumflex'</string>
	</array>
	<key>@MMK_R_k</key>
	<array>
		<string>k'</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>l'</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
	</array>
	<key>@MMK_R_ldot</key>
	<array>
		<string>ldot'</string>
	</array>
	<key>@MMK_R_longs</key>
	<array>
		<string>longs'</string>
	</array>
	<key>@MMK_R_lslash</key>
	<array>
		<string>lslash'</string>
	</array>
	<key>@MMK_R_m</key>
	<array>
		<string>m'</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_micro</key>
	<array>
		<string>micro'</string>
	</array>
	<key>@MMK_R_napostrophe</key>
	<array>
		<string>napostrophe'</string>
	</array>
	<key>@MMK_R_nine</key>
	<array>
		<string>nine'</string>
	</array>
	<key>@MMK_R_numbersign</key>
	<array>
		<string>numbersign'</string>
		<string>currency</string>
	</array>
	<key>@MMK_R_odieresis</key>
	<array>
		<string>odieresis'</string>
	</array>
	<key>@MMK_R_one</key>
	<array>
		<string>one'</string>
	</array>
	<key>@MMK_R_ordfeminine</key>
	<array>
		<string>ordfeminine'</string>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_R_otilde</key>
	<array>
		<string>otilde'</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p'</string>
	</array>
	<key>@MMK_R_paragraph</key>
	<array>
		<string>paragraph'</string>
	</array>
	<key>@MMK_R_parenleft</key>
	<array>
		<string>parenleft'</string>
	</array>
	<key>@MMK_R_parenleft.uppercase</key>
	<array>
		<string>parenleft.uppercase'</string>
	</array>
	<key>@MMK_R_parenright</key>
	<array>
		<string>parenright'</string>
	</array>
	<key>@MMK_R_parenright.uppercase</key>
	<array>
		<string>parenright.uppercase'</string>
	</array>
	<key>@MMK_R_percent</key>
	<array>
		<string>percent'</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>ellipsis'</string>
		<string>period</string>
	</array>
	<key>@MMK_R_periodcentered</key>
	<array>
		<string>periodcentered'</string>
	</array>
	<key>@MMK_R_plus</key>
	<array>
		<string>t'</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>plus</string>
		<string>plusminus</string>
	</array>
	<key>@MMK_R_quotedbl</key>
	<array>
		<string>quotedbl'</string>
		<string>quotesingle</string>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft'</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>uni201F</string>
	</array>
	<key>@MMK_R_quotesinglbase</key>
	<array>
		<string>quotedblbase'</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>r'</string>
		<string>racute</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_R_rcaron</key>
	<array>
		<string>rcaron'</string>
	</array>
	<key>@MMK_R_registered</key>
	<array>
		<string>registered'</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s'</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_R_scircumflex</key>
	<array>
		<string>scaron'</string>
		<string>scircumflex</string>
	</array>
	<key>@MMK_R_section</key>
	<array>
		<string>section'</string>
	</array>
	<key>@MMK_R_seven</key>
	<array>
		<string>seven'</string>
	</array>
	<key>@MMK_R_six</key>
	<array>
		<string>six'</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>slash'</string>
	</array>
	<key>@MMK_R_sterling</key>
	<array>
		<string>sterling'</string>
	</array>
	<key>@MMK_R_thorn</key>
	<array>
		<string>thorn'</string>
	</array>
	<key>@MMK_R_three</key>
	<array>
		<string>three'</string>
	</array>
	<key>@MMK_R_two</key>
	<array>
		<string>two'</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u'</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_R_underscore</key>
	<array>
		<string>underscore'</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>wcircumflex</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x'</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
		<string>ycircumflex</string>
	</array>
	<key>@MMK_R_ydieresis</key>
	<array>
		<string>ydieresis'</string>
	</array>
	<key>@MMK_R_yen</key>
	<array>
		<string>yen'</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z'</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
