<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>Ccircumflex</key>
	<string>Ccircumflex_.glif</string>
	<key>Cdotaccent</key>
	<string>Cdotaccent_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ebreve</key>
	<string>Ebreve_.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>Gcircumflex</key>
	<string>Gcircumflex_.glif</string>
	<key>Gcommaaccent</key>
	<string>Gcommaaccent_.glif</string>
	<key>Gdotaccent</key>
	<string>Gdotaccent_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>Hbar_.glif</string>
	<key>Hcircumflex</key>
	<string>Hcircumflex_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IJ</key>
	<string>IJ_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Ibreve</key>
	<string>Ibreve_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>Itilde</key>
	<string>Itilde_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Jcircumflex</key>
	<string>Jcircumflex_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>Kcommaaccent_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>Lcommaaccent</key>
	<string>Lcommaaccent_.glif</string>
	<key>Ldot</key>
	<string>Ldot_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>Ncommaaccent</key>
	<string>Ncommaaccent_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Obreve</key>
	<string>Obreve_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>Rcommaaccent</key>
	<string>Rcommaaccent_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>Scedilla</key>
	<string>Scedilla_.glif</string>
	<key>Scircumflex</key>
	<string>Scircumflex_.glif</string>
	<key>Scommaaccent</key>
	<string>Scommaaccent_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tbar</key>
	<string>Tbar_.glif</string>
	<key>Tcaron</key>
	<string>Tcaron_.glif</string>
	<key>Tcedilla</key>
	<string>Tcedilla_.glif</string>
	<key>Tcommaaccent</key>
	<string>Tcommaaccent_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ubreve</key>
	<string>Ubreve_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>Utilde</key>
	<string>Utilde_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wcircumflex</key>
	<string>Wcircumflex_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ycircumflex</key>
	<string>Ycircumflex_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.sc</key>
	<string>a.sc.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.sc</key>
	<string>aacute.sc.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>abreve.sc</key>
	<string>abreve.sc.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.sc</key>
	<string>acircumflex.sc.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.sc</key>
	<string>adieresis.sc.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ae.sc</key>
	<string>ae.sc.glif</string>
	<key>afii00208</key>
	<string>afii00208.glif</string>
	<key>afii00208.uppercase</key>
	<string>afii00208.uppercase.glif</string>
	<key>afii299</key>
	<string>afii299.glif</string>
	<key>afii300</key>
	<string>afii300.glif</string>
	<key>afii301</key>
	<string>afii301.glif</string>
	<key>afii57929</key>
	<string>afii57929.glif</string>
	<key>afii61664</key>
	<string>afii61664.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.sc</key>
	<string>agrave.sc.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>amacron.sc</key>
	<string>amacron.sc.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.sc</key>
	<string>ampersand.sc.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aogonek.sc</key>
	<string>aogonek.sc.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.sc</key>
	<string>aring.sc.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.sc</key>
	<string>atilde.sc.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.sc</key>
	<string>b.sc.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.uppercase</key>
	<string>braceleft.uppercase.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.uppercase</key>
	<string>braceright.uppercase.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketleft.sub</key>
	<string>bracketleft.sub.glif</string>
	<key>bracketleft.sup</key>
	<string>bracketleft.sup.glif</string>
	<key>bracketleft.uppercase</key>
	<string>bracketleft.uppercase.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bracketright.sub</key>
	<string>bracketright.sub.glif</string>
	<key>bracketright.sup</key>
	<string>bracketright.sup.glif</string>
	<key>bracketright.uppercase</key>
	<string>bracketright.uppercase.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brevecomb</key>
	<string>brevecomb.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bullet.001</key>
	<string>bullet.001.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.sc</key>
	<string>c.sc.glif</string>
	<key>c_t</key>
	<string>c_t.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>cacute.sc</key>
	<string>cacute.sc.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caroncomb</key>
	<string>caroncomb.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccaron.sc</key>
	<string>ccaron.sc.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccedilla.sc</key>
	<string>ccedilla.sc.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>ccircumflex.sc</key>
	<string>ccircumflex.sc.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cdotaccent.sc</key>
	<string>cdotaccent.sc.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexcomp</key>
	<string>circumflexcomp.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>comma.denom</key>
	<string>comma.denom.glif</string>
	<key>comma.numer</key>
	<string>comma.numer.glif</string>
	<key>comma.sub</key>
	<string>comma.sub.glif</string>
	<key>comma.sup</key>
	<string>comma.sup.glif</string>
	<key>commaaboverightcomb</key>
	<string>commaaboverightcomb.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>commaturnedabovecomb</key>
	<string>commaturnedabovecomb.glif</string>
	<key>commaturnedmod</key>
	<string>commaturnedmod.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.sc</key>
	<string>d.sc.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcaron.sc</key>
	<string>dcaron.sc.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>dcroat.sc</key>
	<string>dcroat.sc.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.lining</key>
	<string>dollar.lining.glif</string>
	<key>dollar.lining.sub</key>
	<string>dollar.lining.sub.glif</string>
	<key>dollar.lining.sup</key>
	<string>dollar.lining.sup.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dotlessj</key>
	<string>dotlessj.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.sc</key>
	<string>e.sc.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>eacute.sc</key>
	<string>eacute.sc.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ebreve.sc</key>
	<string>ebreve.sc.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecaron.sc</key>
	<string>ecaron.sc.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>ecircumflex.sc</key>
	<string>ecircumflex.sc.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edieresis.sc</key>
	<string>edieresis.sc.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>edotaccent.sc</key>
	<string>edotaccent.sc.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>egrave.sc</key>
	<string>egrave.sc.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.lining</key>
	<string>eight.lining.glif</string>
	<key>eight.lining.denom</key>
	<string>eight.lining.denom.glif</string>
	<key>eight.lining.numer</key>
	<string>eight.lining.numer.glif</string>
	<key>eight.lining.sub</key>
	<string>eight.lining.sub.glif</string>
	<key>eight.lining.sup</key>
	<string>eight.lining.sup.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emacron.sc</key>
	<string>emacron.sc.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emdash.uppercase</key>
	<string>emdash.uppercase.glif</string>
	<key>emquad</key>
	<string>emquad.glif</string>
	<key>emspace</key>
	<string>emspace.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>endash.uppercase</key>
	<string>endash.uppercase.glif</string>
	<key>enquad</key>
	<string>enquad.glif</string>
	<key>enspace</key>
	<string>enspace.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>eogonek.sc</key>
	<string>eogonek.sc.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>eth.sc</key>
	<string>eth.sc.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.sc</key>
	<string>f.sc.glif</string>
	<key>f_b</key>
	<string>f_b.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f_b</key>
	<string>f_f_b.glif</string>
	<key>f_f_h</key>
	<string>f_f_h.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_f_j</key>
	<string>f_f_j.glif</string>
	<key>f_f_k</key>
	<string>f_f_k.glif</string>
	<key>f_f_l</key>
	<string>f_f_l.glif</string>
	<key>f_h</key>
	<string>f_h.glif</string>
	<key>f_i</key>
	<string>f_i.glif</string>
	<key>f_j</key>
	<string>f_j.glif</string>
	<key>f_k</key>
	<string>f_k.glif</string>
	<key>f_l</key>
	<string>f_l.glif</string>
	<key>figuredash</key>
	<string>figuredash.glif</string>
	<key>figuredash.uppercase</key>
	<string>figuredash.uppercase.glif</string>
	<key>figurespace</key>
	<string>figurespace.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.lining</key>
	<string>five.lining.glif</string>
	<key>five.lining.denom</key>
	<string>five.lining.denom.glif</string>
	<key>five.lining.numer</key>
	<string>five.lining.numer.glif</string>
	<key>five.lining.sub</key>
	<string>five.lining.sub.glif</string>
	<key>five.lining.sup</key>
	<string>five.lining.sup.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four-per-emspace</key>
	<string>four-per-emspace.glif</string>
	<key>four.lining</key>
	<string>four.lining.glif</string>
	<key>four.lining.denom</key>
	<string>four.lining.denom.glif</string>
	<key>four.lining.numer</key>
	<string>four.lining.numer.glif</string>
	<key>four.lining.sub</key>
	<string>four.lining.sub.glif</string>
	<key>four.lining.sup</key>
	<string>four.lining.sup.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.sc</key>
	<string>g.sc.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gbreve.sc</key>
	<string>gbreve.sc.glif</string>
	<key>gcircumflex</key>
	<string>gcircumflex.glif</string>
	<key>gcircumflex.sc</key>
	<string>gcircumflex.sc.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gcommaaccent.sc</key>
	<string>gcommaaccent.sc.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>gdotaccent.sc</key>
	<string>gdotaccent.sc.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>glottalstopmod</key>
	<string>glottalstopmod.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotleft.uppercase</key>
	<string>guillemotleft.uppercase.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guillemotright.uppercase</key>
	<string>guillemotright.uppercase.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglleft.uppercase</key>
	<string>guilsinglleft.uppercase.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>guilsinglright.uppercase</key>
	<string>guilsinglright.uppercase.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.sc</key>
	<string>h.sc.glif</string>
	<key>hairspace</key>
	<string>hairspace.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hbar.sc</key>
	<string>hbar.sc.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex.glif</string>
	<key>hcircumflex.sc</key>
	<string>hcircumflex.sc.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcomb</key>
	<string>hungarumlautcomb.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.uppercase</key>
	<string>hyphen.uppercase.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.TRK</key>
	<string>i.TRK_.glif</string>
	<key>i.TRK.sc</key>
	<string>i.TRK_.sc.glif</string>
	<key>i.sc</key>
	<string>i.sc.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>iacute.sc</key>
	<string>iacute.sc.glif</string>
	<key>ibreve</key>
	<string>ibreve.glif</string>
	<key>ibreve.sc</key>
	<string>ibreve.sc.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>icircumflex.sc</key>
	<string>icircumflex.sc.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idieresis.sc</key>
	<string>idieresis.sc.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>igrave.sc</key>
	<string>igrave.sc.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>imacron.sc</key>
	<string>imacron.sc.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>iogonek.sc</key>
	<string>iogonek.sc.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>itilde.sc</key>
	<string>itilde.sc.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.sc</key>
	<string>j.sc.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>jcircumflex.sc</key>
	<string>jcircumflex.sc.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.sc</key>
	<string>k.sc.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kcommaaccent.sc</key>
	<string>kcommaaccent.sc.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.sc</key>
	<string>l.sc.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lacute.sc</key>
	<string>lacute.sc.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcaron.sc</key>
	<string>lcaron.sc.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>lcommaaccent.sc</key>
	<string>lcommaaccent.sc.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>ldot.sc</key>
	<string>ldot.sc.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>longs</key>
	<string>longs.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>lslash.sc</key>
	<string>lslash.sc.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.sc</key>
	<string>m.sc.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macroncomb</key>
	<string>macroncomb.glif</string>
	<key>micro</key>
	<string>micro.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.sc</key>
	<string>n.sc.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>nacute.sc</key>
	<string>nacute.sc.glif</string>
	<key>napostrophe</key>
	<string>napostrophe.glif</string>
	<key>narrownbspace</key>
	<string>narrownbspace.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncaron.sc</key>
	<string>ncaron.sc.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>ncommaaccent.sc</key>
	<string>ncommaaccent.sc.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.lining</key>
	<string>nine.lining.glif</string>
	<key>nine.lining.denom</key>
	<string>nine.lining.denom.glif</string>
	<key>nine.lining.numer</key>
	<string>nine.lining.numer.glif</string>
	<key>nine.lining.sub</key>
	<string>nine.lining.sub.glif</string>
	<key>nine.lining.sup</key>
	<string>nine.lining.sup.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>ntilde.sc</key>
	<string>ntilde.sc.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.sc</key>
	<string>o.sc.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>oacute.sc</key>
	<string>oacute.sc.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>obreve.sc</key>
	<string>obreve.sc.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>ocircumflex.sc</key>
	<string>ocircumflex.sc.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>odieresis.sc</key>
	<string>odieresis.sc.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>oe.sc</key>
	<string>oe.sc.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ograve.sc</key>
	<string>ograve.sc.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>ohungarumlaut.sc</key>
	<string>ohungarumlaut.sc.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>omacron.sc</key>
	<string>omacron.sc.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.lining</key>
	<string>one.lining.glif</string>
	<key>one.lining.denom</key>
	<string>one.lining.denom.glif</string>
	<key>one.lining.numer</key>
	<string>one.lining.numer.glif</string>
	<key>one.lining.sub</key>
	<string>one.lining.sub.glif</string>
	<key>one.lining.sup</key>
	<string>one.lining.sup.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>oslash.sc</key>
	<string>oslash.sc.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>otilde.sc</key>
	<string>otilde.sc.glif</string>
	<key>overline</key>
	<string>overline.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.sc</key>
	<string>p.sc.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.sub</key>
	<string>parenleft.sub.glif</string>
	<key>parenleft.sup</key>
	<string>parenleft.sup.glif</string>
	<key>parenleft.uppercase</key>
	<string>parenleft.uppercase.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.sub</key>
	<string>parenright.sub.glif</string>
	<key>parenright.sup</key>
	<string>parenright.sup.glif</string>
	<key>parenright.uppercase</key>
	<string>parenright.uppercase.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>period.denom</key>
	<string>period.denom.glif</string>
	<key>period.numer</key>
	<string>period.numer.glif</string>
	<key>period.sub</key>
	<string>period.sub.glif</string>
	<key>period.sup</key>
	<string>period.sup.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>periodcentered.sc</key>
	<string>periodcentered.sc.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>punctuationspace</key>
	<string>punctuationspace.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.sc</key>
	<string>q.sc.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quotereversed</key>
	<string>quotereversed.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.sc</key>
	<string>r.sc.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>racute.sc</key>
	<string>racute.sc.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcaron.sc</key>
	<string>rcaron.sc.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>rcommaaccent.sc</key>
	<string>rcommaaccent.sc.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.sc</key>
	<string>s.sc.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>sacute.sc</key>
	<string>sacute.sc.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scaron.sc</key>
	<string>scaron.sc.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scedilla.sc</key>
	<string>scedilla.sc.glif</string>
	<key>scircumflex</key>
	<string>scircumflex.glif</string>
	<key>scircumflex.sc</key>
	<string>scircumflex.sc.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>scommaaccent.sc</key>
	<string>scommaaccent.sc.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.lining</key>
	<string>seven.lining.glif</string>
	<key>seven.lining.denom</key>
	<string>seven.lining.denom.glif</string>
	<key>seven.lining.numer</key>
	<string>seven.lining.numer.glif</string>
	<key>seven.lining.sub</key>
	<string>seven.lining.sub.glif</string>
	<key>seven.lining.sup</key>
	<string>seven.lining.sup.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six-per-emspace</key>
	<string>six-per-emspace.glif</string>
	<key>six.lining</key>
	<string>six.lining.glif</string>
	<key>six.lining.denom</key>
	<string>six.lining.denom.glif</string>
	<key>six.lining.numer</key>
	<string>six.lining.numer.glif</string>
	<key>six.lining.sub</key>
	<string>six.lining.sub.glif</string>
	<key>six.lining.sup</key>
	<string>six.lining.sup.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>softhyphen.uppercase</key>
	<string>softhyphen.uppercase.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.sc</key>
	<string>t.sc.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tbar.sc</key>
	<string>tbar.sc.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcaron.sc</key>
	<string>tcaron.sc.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcedilla.sc</key>
	<string>tcedilla.sc.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>tcommaaccent.sc</key>
	<string>tcommaaccent.sc.glif</string>
	<key>thinspace</key>
	<string>thinspace.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>thorn.sc</key>
	<string>thorn.sc.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three-per-emspace</key>
	<string>three-per-emspace.glif</string>
	<key>three.lining</key>
	<string>three.lining.glif</string>
	<key>three.lining.denom</key>
	<string>three.lining.denom.glif</string>
	<key>three.lining.numer</key>
	<string>three.lining.numer.glif</string>
	<key>three.lining.sub</key>
	<string>three.lining.sub.glif</string>
	<key>three.lining.sup</key>
	<string>three.lining.sup.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.lining</key>
	<string>two.lining.glif</string>
	<key>two.lining.denom</key>
	<string>two.lining.denom.glif</string>
	<key>two.lining.numer</key>
	<string>two.lining.numer.glif</string>
	<key>two.lining.sub</key>
	<string>two.lining.sub.glif</string>
	<key>two.lining.sup</key>
	<string>two.lining.sup.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.sc</key>
	<string>u.sc.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>uacute.sc</key>
	<string>uacute.sc.glif</string>
	<key>ubreve</key>
	<string>ubreve.glif</string>
	<key>ubreve.sc</key>
	<string>ubreve.sc.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>ucircumflex.sc</key>
	<string>ucircumflex.sc.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>udieresis.sc</key>
	<string>udieresis.sc.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>ugrave.sc</key>
	<string>ugrave.sc.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>uhungarumlaut.sc</key>
	<string>uhungarumlaut.sc.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>umacron.sc</key>
	<string>umacron.sc.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni2010</key>
	<string>uni2010.glif</string>
	<key>uni2010.uppercase</key>
	<string>uni2010.uppercase.glif</string>
	<key>uni2011</key>
	<string>uni2011.glif</string>
	<key>uni2011.uppercase</key>
	<string>uni2011.uppercase.glif</string>
	<key>uni201F</key>
	<string>uni201F_.glif</string>
	<key>uni205F</key>
	<string>uni205F_.glif</string>
	<key>uni2060</key>
	<string>uni2060.glif</string>
	<key>uniFEFF</key>
	<string>uniFEFF_.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uogonek.sc</key>
	<string>uogonek.sc.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>uring.sc</key>
	<string>uring.sc.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>utilde.sc</key>
	<string>utilde.sc.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.sc</key>
	<string>v.sc.glif</string>
	<key>verticallinemod</key>
	<string>verticallinemod.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.sc</key>
	<string>w.sc.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wcircumflex.sc</key>
	<string>wcircumflex.sc.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.sc</key>
	<string>x.sc.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.sc</key>
	<string>y.sc.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>yacute.sc</key>
	<string>yacute.sc.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ycircumflex.sc</key>
	<string>ycircumflex.sc.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydieresis.sc</key>
	<string>ydieresis.sc.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.sc</key>
	<string>z.sc.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zacute.sc</key>
	<string>zacute.sc.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zcaron.sc</key>
	<string>zcaron.sc.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zdotaccent.sc</key>
	<string>zdotaccent.sc.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.lining</key>
	<string>zero.lining.glif</string>
	<key>zero.lining.denom</key>
	<string>zero.lining.denom.glif</string>
	<key>zero.lining.numer</key>
	<string>zero.lining.numer.glif</string>
	<key>zero.lining.sub</key>
	<string>zero.lining.sub.glif</string>
	<key>zero.lining.sup</key>
	<string>zero.lining.sup.glif</string>
	<key>zerowidthspace</key>
	<string>zerowidthspace.glif</string>
</dict>
</plist>
